* {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    padding: 20px;
    background-color: gray;
    display: flex;
}

.card {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 8px;
    margin: 10px;
}

.image {
    padding: 5px;
}

img {
    border-radius: 8px;
}

.content {
    padding: 10px 10px;
    /* text-align: center; */
}

.content p {
    padding: 5px 0px 0px 0px;
}

.capsules {
    padding: 10px 10px;
    /* margin-top: 10px; */
}

.capsules span {
    background-color: rgb(249, 247, 247);
    font-size: 20x;
    margin: 4px;
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
}

.button {
    padding: 15px 0px 0px 0px;
    text-align: center;
}

.button button {
    font-weight: bold;
    padding: 12px;
    background-color: rgb(223, 223, 220);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.button button:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1400px) {
    body{
        flex-wrap: wrap;
    }
  }
  